<section>
    <svg class="cut" width="983" height="170" viewBox="0 0 983 170" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_i_4_199)">
        <path d="M125.302 106.097C125.302 167.266 17.473 23.3267 0 0H982.5C983.311 15.8653 982.5 55 982.5 90C982.5 144 847.684 151.267 847.684 131.497C847.684 85.7363 582.095 131.497 532.172 144.975C441.974 169.325 329.985 182.816 329.985 150.158C329.985 111.964 125.302 88.9906 125.302 106.097Z" fill="#303030"/>
        </g>
        <defs>
        <filter id="filter0_i_4_199" x="0" y="0" width="982.86" height="169.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="15" dy="2"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.0791667 0 0 0 0 0.0791667 0 0 0 0 0.0791667 0 0 0 0.55 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_4_199"/>
        </filter>
        </defs>
        </svg>
</section>
<nav>
    <div class="nav-bar">
    <div class="company-name"><h1>Creative Cuts</h1></div>
    <div class="company-links">
        <a href="#about">About Us</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
        <a routerLink="/shop" class="button">Shop</a>
        <a [routerLink]="['/schedule']" class="button">Schedule</a>
        <a routerLink="/login">Login</a>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
    </div>
    </div>
</nav>

