<div class="services" id="services">
    <h1 class="title">Services</h1>
    <div class="service-links">
        <p (click)="setText('haircut')" [ngClass]="{'active':this.option === 'haircut'}">Hair Cut</p>
        <p (click)="setText('beardgroom')" [ngClass]="{'active':this.option === 'beardgroom'}">Beard Groom</p>
        <p (click)="setText('hairwash')" [ngClass]="{'active':this.option === 'hairwash'}">Hair Wash</p>
        <p (click)="setText('massage')" [ngClass]="{'active':this.option === 'massage'}">Massage</p>
    </div>
    <div class="repeat-service">
        <div class="service" *ngFor="let t of output; let i = index">
            <div><img src="{{t[0]}}"></div>
            <div>
                <h1>{{t[1]}}</h1>
                <p class="price">{{t[2]}}</p>
                <p class="info">{{t[3]}}</p>
            </div>
        </div>
    </div>
    <div class="cta">
    <p>Love the services we provide?</p>
    <button>Schedule an appointment</button>
    </div>
    <svg preserveAspectRatio="none" class="cut" width="1457" height="247" viewBox="0 0 1457 247" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_i_29_65)">
        <path d="M1065.75 91.0437C1124.01 117.751 1350.86 43.3765 1457 2.8511V247L0 247V65.6323C33.985 61.6462 110.694 53.6739 145.65 53.6739C189.345 53.6739 393.254 -14.5881 416.86 2.8511C440.465 20.2903 473.613 16.8025 499.227 53.6739C519.719 83.1711 526.181 90.8776 526.85 91.0437C604.195 108.483 766.017 146.949 794.545 161.299C830.204 179.236 878.921 114.462 951.746 53.6739C1010.01 5.04347 1016.54 8.83028 1012.52 16.8025C1005.99 30.4217 1007.49 64.3368 1065.75 91.0437Z" fill="#303030"/>
        </g>
        <defs>
        <filter id="filter0_i_29_65" x="0" y="0" width="1457" height="247" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="15" dy="2"/>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.0791667 0 0 0 0 0.0791667 0 0 0 0 0.0791667 0 0 0 0.55 0"/>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_29_65"/>
        </filter>
        </defs>
        </svg>
        
</div>
