<nav>
    <div>
        <a class="home" [routerLink]="['/']">Creative Cuts</a>
        <a>Categories</a>
        <input type="text" placeholder="Search for Tools, Products, and others...">
        <a>Login</a>
        <a>Cart</a>
    </div>
</nav>
<section>
    <h1>Filters</h1>
        <div class="filters">
            <button>Tools</button>
            <button>Tools</button>
            <button>Tools</button>
            <button>Tools</button>
            <button>Tools</button>
        </div>
        

    <div class="repeat-items">
        <div class="item">
            <div><img src="../../assets/sciss.jpg"></div>
            <div class="content">
                <h1>Scissors</h1>
                <p class="price">$20</p>
                <p class="info">Perfect scissors for you</p>
            </div>
        </div>
        <div class="item">
            <div><img src="../../assets/sciss.jpg"></div>
            <div class="content">
                <h1>Scissors</h1>
                <p class="price">$20</p>
                <p class="info">Perfect scissors for you</p>
            </div>
        </div>
        <div class="item">
            <div><img src="../../assets/sciss.jpg"></div>
            <div class="content">
                <h1>Scissors</h1>
                <p class="price">$20</p>
                <p class="info">Perfect scissors for you</p>
            </div>
        </div>
        <div class="item">
            <div><img src="../../assets/sciss.jpg"></div>
            <div class="content">
                <h1>Scissors</h1>
                <p class="price">$20</p>
                <p class="info">Perfect scissors for you</p>
            </div>
        </div>
        <div class="item">
            <div><img src="../../assets/sciss.jpg"></div>
            <div class="content">
                <h1>Scissors</h1>
                <p class="price">$20</p>
                <p class="info">Perfect scissors for you</p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div class="page">
            <button><</button>
            <h1>
                Page 1
            </h1>
            <button>></button>
        </div>
    </div>
</section>