<div id="contact">
<h1>Contact Us</h1>
<form class="form">
    <mat-form-field class="form-name">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="form-email">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com">
      <mat-hint>Guarentee email is correct!</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-body">
        <mat-label>Body</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <button>Send Email</button>
  </form>
</div>